---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Best Breakdown Services in Nairobi</h1>
			<h2>
				Why Choose Us?
			</h2>
			<p>
			<ul>
				<li>24/7 Availability: Breakdowns don’t wait for convenient times, and neither do we. We’re here for you day or night, offering emergency towing and roadside assistance whenever you need it.</li>
				<li>Nationwide Coverage: From Nairobi’s busy streets to Mombasa’s coastal roads, we’ve got you covered. No matter where you are, our vehicle towing services are just a phone call away.</li>
				<li>Expert Team: Our skilled mechanics and drivers are trained to handle any situation with professionalism and care.</li>
				<li>Transparent Pricing: No hidden fees – just honest, upfront pricing for all our affordable towing services.</li>
			</ul>
			</p>
			<h2>
				Our Services:
			</h2>
			<p>
			<ul>
				<li>Local & Long-Distance Towing</li>
				<li>Emergency Road Side Service</li>
				<li>Accident Towing & Recovery</li>
				<li>Vehicle Transportation</li>
			</ul>
			</p>
			<h2>
				Our Rates:
			</h2>
			<p>
			<ul>
				<li>Cost of transporting cars per KM</li>
			</ul>
		 	</p>
			<h2>
				What Customers Say About Us:
			</h2>
			<p>
			<ul>
			<li>[Insert text and images of client testimonials here]</li>
		</main>
		<Footer />
	</body>
</html>
